@model VBEngine.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequesterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequesterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequsetDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequsetDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequsetServices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequsetServices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequsetStatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequsetStatusNavigation.RequsetStatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
